{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comanda</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comanda.id }}</td>
            </tr>
            <tr>
                <th>Mesa</th>
                <td>{{ comanda.mesa }}</td>
            </tr>
            <tr>
                <th>Comanda</th>
                <td>{{ comanda.comanda }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ comanda.importe }}</td>
            </tr>
            <tr>
                <th>Pagado</th>
                <td>{% if comanda.pagado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comanda_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comanda_edit', { 'id': comanda.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
